{% block captcha_row %}
<puzzle-captcha 
    {% for attrname, attrvalue in attr %}
        {{ ( " " ~ attrname ~ "=\"" ~ attrvalue ~ "\"" )|raw('html') }}
    {% endfor %}
>
    <div class="captcha-image"></div>

    <div class="captcha-pieces-container">    
        {% for child in form.children %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
</puzzle-captcha>
{% endblock %}